body * {
  font-family: 'Comic Sans MS', sans-serif !important;
}

.hidden {
  display: none;
}

.center-align {
  text-align: center;
}

.big-button {
  font-size: 3rem;
  border-radius: 10px;
  background-color:#7BAFD4;           /* Official carolina blue hex code */
}

.big-button:active {
  background-color: #5f87a3;
}

.coin-image {
  height: 400px;
}

.coin-rotate {
  animation: rotate 0.5s infinite linear;
}

.coin-label {
  font-size: 3rem;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}